@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter;
}

@keyframes progressAnimation {
  0% {
    stroke-dashoffset: 251.2;
  }
  100% {
    stroke-dashoffset: calc(
      251.2px - (251.2px * var(--skill-percentage)) / 100
    );
  }
}

.word {
  @apply inline-block opacity-0;
}

.progress-circle {
  animation: progressAnimation 2s ease-out;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
